<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safe Earth 🌍</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/fav/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="img/fav/favicon.ico" type="image/x-icon" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RNHZ3H68E1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RNHZ3H68E1");
    </script>
  </head>
  <body>
    <section>
      <nav id="navbar">
        <div class="nav-wrapper">
          <a class="logo" href="index.html">
            <img src="img/safeearthlogo.svg" alt="logo" />
          </a>
          <ul class="nav-menu">
            <li><a href="#">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#roadmap">roadmap</a></li>
            <li>
              <a class="drop">contact<i class="arrow down"></i></a>
              <ul class="dropdown">
                <li>
                  <a target="”_blank”" href="https://t.me/safeearthcrypto"
                    >Telegram</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href="https://twitter.com/SafeEarthETH"
                    >Twitter</a
                  >
                </li>
                <li>
                  <a
                    target="”_blank”"
                    href="https://www.reddit.com/r/SafeEarth/"
                    >Reddit</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href="https://discord.gg/Rn8ah2tkrv"
                    >Discord</a
                  >
                </li>
                <!-- <li><a target="”_blank”" href="">Instagram</a></li> -->
              </ul>
            </li>
            <li class="nav-buttons">
              <a
                target="_blank"
                href="https://app.uniswap.org/#/swap?slippage=500&outputCurrency=0xE6F1966d04CfcB9cd1B1dC4E8256D8b501b11CbA"
              >
                <button>
                  <span>
                    buy on Uniswap
                  </span>
                </button>
              </a>
              <a
                class="mobile"
                href="https://www.safemarscrypto.com/index.html"
              >
                <button class="hide2">
                  Fly to mars
                </button>
                <button class="earth"></button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="hero-section" id="index">
      <!-- <div class="ship">
        <div class="ship-rotate">
          <div class="pod"></div>
          <div class="fuselage"></div>
        </div>
      </div> -->
      <div class="mars">
        <!-- <div class="tentacle"></div>
        <div class="flag">
          <div class="small-tentacle"></div>
        </div> -->
        <div class="planet">
          <div class="surface"></div>
          <div class="crater1"></div>
          <div class="crater2"></div>
          <div class="crater3"></div>
        </div>
      </div>
      <div class="hero-wrapper">
        <div class="hero-title">
          <h1>
            HELP OUR PLANET
          </h1>
          <br />
          <!-- <p class="shadow">
            and
          </p>
          <p>
            and
          </p> -->
        </div>

        <div class="hero-buttons">
          <a
            href="https://app.uniswap.org/#/swap?slippage=500&outputCurrency=0xE6F1966d04CfcB9cd1B1dC4E8256D8b501b11CbA"
            target="_blank"
          >
            <button>
              <span>
                BUY ON UNISWAP
              </span>
            </button>
          </a>

          <a target="”_blank”" href="https://t.me/safeearthcrypto">
            <button class="btn">
              Join on Telegram
            </button>
          </a>
        </div>
        <div class="hero-text">
          <p class="im">
            1% of each trade will be donated to charities making Earth a better
            place!
          </p>
          <br />
          <p class="um">
            Autonomous yield and liquidity generation protocol. Simply hold
            SAFEEARTH in your wallet and you will get more. On each transaction
            the protocol automatically distributes rewards to holders as well as
            auto-locks liquidity forever.
          </p>
        </div>
      </div>
    </section>

    <section class="about section" id="about">
      <h1>About</h1>
      <div class="content">
        <div class="about-text">
          <h2>
            <b>
              SAFEEARTH is programmed to reward holders while increasing in both
              liquidity and value.
            </b>
          </h2>
          <br />
          <h3>
            It does this by applying a
          </h3>
          <p>
            4% tax on transactions
            <br />
            1% goes to holders (instantly and gaslessly)
            <br />
            1% is auto-locked to liquidity (forever)
            <br />
            1% is used to buy back SAFEMARS (market buy)
            <br />
            1% is DONATED to charities saving Earth!
          </p>
          <br />
          <h3>Forever Deflationary supply/burn</h3>
          <p>
            we will burn more than 50% of the total supply after launch and will
            send it to a black hole address; as this address also participates
            in the protocol, it accumulates more tokens, thereby effectively
            removing them from circulation. There is no limit to the burn, the
            black hole will keep growing, increasing the scarcity of SAFEEARTH.
          </p>
        </div>
        <div class="about-img">
          <h3>We are Safe Earth</h3>
          <iframe
            src="https://www.youtube.com/embed/gPssCEb2X_0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <img src="img/moon.svg" alt="" />
        </div>
      </div>
      <div class="content">
        <div class="about-bottom">
          <div class="hero-buttons">
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://etherscan.io/tx/0x0792ca824098994cfd7f9985e49189b7cdd5e1f6ac8d2f9a5afa5e632cd1e465"
            >
              <button class="btn">
                BURNT TOKENS
              </button>
            </a>
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://etherscan.io/tx/0x2601518a24f93008c363834aa1e2dd25b68d4d4eae6604e21d824ca052ced75b"
            >
              <button class="btn">
                LIQUIDITY LOCK
              </button>
            </a>
          </div>
          <div class="bottom-text">
            <div>
              <h3>Auto-locking liquidity</h3>
              <p>
                1% of each transaction is locked to liquidity forever. This
                contributes to less volatility and a continuously increasing
                price floor.
              </p>
            </div>
            <div>
              <h3>100% safe</h3>
              <p>
                LP tokens will be burned thereby locking initial liquidity away
                forever. Fair distribution without whales. Active and engaged
                team, ready to answer any questions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="roadmap section" id="roadmap">
      <h1>Road Map</h1>
      <div class="content">
        <div class="roadmap-img">
          <img src="/img/sun.svg" alt="" />
        </div>
        <div class="container">
          <div class="rightbox">
            <div class="rb-container">
              <ul class="rb">
                <div class="btn up">
                  >
                </div>
                <div class="btn down">
                  >
                </div>
                <div class="btn up2">
                  >
                </div>
                <div class="btn down2">
                  >
                </div>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    Safe launch (liquidity locked FOREVER)
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    BURNED 53% of total supply and seeded BLACK HOLE
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    Done
                  </div>
                  <div class="item-title">
                    Website redesign
                  </div>
                </li>
                <li class="rb-item inpr" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Listing on Coingecko, Coinmarketcap
                  </div>
                </li>
                <li class="rb-item inpr" ng-repeat="itembx">
                  <div class="timestamp">
                    Q1 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Smart contract audit
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Marketing push
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Further partnerships
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Community votes, events and competitions
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    Coming soon
                  </div>
                  <div class="item-title">
                    Secret new mission launch
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    NFT staking & mining
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    Listing on established exchanges
                  </div>
                </li>
                <li class="rb-item soon" ng-repeat="itembx">
                  <div class="timestamp">Q3 2021<br /></div>
                  <div class="item-title">
                    Further ecosystem development
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.onscroll = function () {
        scrollFunction();
      };
      function scrollFunction() {
        if (
          document.body.scrollTop > 80 ||
          document.documentElement.scrollTop > 80
        ) {
          document.getElementById("navbar").style.background = "#00000090";
        } else {
          document.getElementById("navbar").style.background = "#00000000";
        }
      }
    </script>
    <footer>
      <p>&copy;2021 by <a href="index.html">Safeearth</a></p>
    </footer>
  </body>
</html>
